/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.row {
    max-width: 100%;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
}

h2:after {
    display: block;
    width: 100px;
    margin: 0 auto;
}

.icon-big {
    font-size: 200%;
    display: block;
    color: #fff;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
 {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

.btn-box:link,
.btn-box:visited{
    background-color: rgb(152,219,225);
    border: 2px solid #ffffff;
    color: #fff;
    margin-right: 15px;
	text-transform: uppercase;
	transition: background-color 0.2s, color 0.2s;
}
.btn-box:hover,
.btn-box:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(122, 196, 203);
	transition: background-color 0.2s;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.section-header-before{
	background-color: #A6DBDE;
	height: 84px;
	padding: 0;
	margin: 0;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.section-header-before .headername{
	float:left;
	margin-left: 48px;
	height: 80px;
}
.section-header-before .headername2{
	display: none;
}
.section-header-before .headername p{
	font-size: 36px;;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-style: italic;
	font-weight: 500;
	margin-top: 20px;
}

.section-header-before .index-header-button{
	float: right;
	margin-right: 48px;
	margin-top: 19px;
	border: 2px solid #fff;
	height: 49px;
	padding-top: 9px;
}


.section-header-before .headerbtn:link,
.section-header-before .headerbtn:visited{
	
	text-align: center;
	width: 100%;
	font-size: 15pt;
	text-decoration: none;
	font-weight:300;
	padding:0px 33px;
    color: #fff;
	letter-spacing:-1px;
	text-transform: uppercase;
	transition: background-color 0.2s, color 0.2s;
}
.section-header-before .headerbtn:hover,
.section-header-before .headerbtn:active {
    background-color: rgb(140, 212, 219);
	transition: background-color 0.2s;
}





.section-header{
	background-color: rgb(140, 212, 219);
	height: 60px;
	padding: 0;
	margin: 0;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px #c1c1c1;
    z-index: 9999;
}

.section-header .headername{
	float:left;
	margin-left: 48px;
	height: 60px;
}
.section-header .headername2{
	float:left;
	color: black;
	font-style: italic;
	margin-left: 20px;
	margin-top: 13px;
	height: 30px;
}
.section-header .headername p{
	font-size: 24pt;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-style: italic;
	font-weight: 500;
	letter-spacing:-1px;
	margin-top: 10px;
}
.section-header .headername2 p{
	font-weight: 700;
	font-size: 30px;
}
.section-header .index-header-button{
	float: right;
	margin-right: 48px;
	margin-top: 18px;
	border: 2px solid #fff;
	height: 36px;
}

.section-header .headerbtn:link,
.section-header .headerbtn:visited{
	text-align: center;
	width: 100%;
	font-size: 16pt;
	text-decoration: none;
	font-weight:300;
	padding:0px 32px;
    color: #fff;
	letter-spacing:-1px;
	text-transform: uppercase;
	transition: background-color 0.2s, color 0.2s;
}
.section-header .headerbtn:hover,
.section-header .headerbtn:active {
    background-color: rgb(140, 212, 219);
	transition: background-color 0.2s;
}

/* ----------------------------------------------- */
/* POSTER */
/* ----------------------------------------------- */
.section-poster {
	padding: 0;
	margin: 60px 0 0 0;
}

.indexslider{
	height: 636px;
}
.indexslider img{
	width: 100%;
}
.section-poster h1{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	color: white;
	z-index: 1000;
	font-size: 72px;
	margin-top: 280px;
	font-weight: 400;
}
.biggericon{
	font-size: 450%;
	font-weight: 100px;
	margin-top: 260px;
}
/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */
.formcontainer{
	width: 340px;
}
.fomealign {
    max-width: 1200px;
    margin: 0 auto;
}


.signinform{
	float: left;
	text-align: left;
	margin-left: 138px;
}
.signinform h3 ,
.signupform h3{
	text-align: left;
	font-size: 20px;
	font-weight: 400;
	width: 40%;
	margin-left: 32px;
	letter-spacing: -1px;
}
.signinform input,
.signupform input{
	height: 36px;
	border-radius : none;
}
.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.setformmargin input{
	margin-bottom: 12px;
		height: 36px;
	width: 204px;
}
.signupform{
	float: right;
	text-align: left;
	margin-right: 64px;
	
}

.remenber_me{
	margin-left: 45px;
	height: 35px;
}

.remenber_me p{
		margin-left:30px; 
	margin-top: -31px;
	font-size: 12px;
	font-weight: 300;
}
.remenber_me input{
	width: 100%;
	height: 100%;
}
.section-form{
	width: 100%;
	background-color:rgba(221, 218, 214, 0.6);
	height: 740px;
	margin-bottom: -140px;
}
.formleft{
	float: left;
	margin-left: 45px;
}

.forgetpass {
	text-align: left;
	font-size: 14px;
	width: 60%;
	margin-left: 32px;
	letter-spacing: -1px;
	color: #555;
}
.form-group .formleft{
	background-color:rgb(250,72,71);
}

.form-group .formleft:hover{
	background-color: rgb(250, 46, 7);
	transition: background-color 0.2s;
}
.form-group a:link,
.form-group a:visited{
	text-align: center;
	width: 204px;
	height: 36px;
	font-size: 15pt;
	text-decoration: none;
	font-weight:100;
	padding:0px 45px;
    color: #fff;
	border: 2px solid #fff;
	letter-spacing:-1px;
	text-transform: uppercase;
	padding-top: 2px;
	transition: background-color 0.2s, color 0.2s;
}


.formright{
	float: left;
	margin-left: 30px;
	width: 35%;
}
.formor{
	margin-top: 20px;
	text-align: center;
	width: 204px;
	margin-left: 29px;
}
.link-facebook {
    color: #3b5998;
}

.link-twitter {
    color: #00aced;
}

.link-googleplus {
    color: #dd4b39;
}

.link-instagram {
    color: #517fa4;
}
.fourlinks{
	padding-left: 0px;
	padding-left:34px;
}


/* ----------------------------------------------- */
/* USER login PART */
/* ----------------------------------------------- */

.userview{
	width: 100%;
	background-color:rgb(236,239,236);
	height: 740px;
	margin-bottom: -235px;
}

.useralign{
	max-width: 1200px;
	margin: 0 auto;
}
.formedit{
	width: 100px;
	margin-left: 445px;
	margin-top: 360px;

}
.formedit{
	width: 00px;
}
.useralign .form-group{
	
}
.lineuserimg{
	margin-left: 322px;
	position: absolute;            
	visibility: hidden;  
}

.lineF {  
	margin-top: 118px;
	margin-left: 227px;
	position: absolute;            
	visibility: hidden;        
}        

.line1 {  
	margin-top: 118px;
	margin-left: 583px;
	position: absolute;            
	visibility: hidden;        
}        


 .lineS        {  
	margin-top: 151px;
	margin-left: 285px;
	position: absolute;            
	visibility: hidden;        
}        

.line2 {  
	margin-top: 151px;
	margin-left: 525px;
	position: absolute;            
	visibility: hidden;        
}    

 .lineT        {  
	margin-top: 185px;
	margin-left: 227px;
	position: absolute;            
	visibility: hidden;        
}   
.line3 {  
	margin-top: 185px;
	margin-left: 583px;
	position: absolute;            
	visibility: hidden;        
}    
.line4 {  
	margin-top: 219px;
	margin-left: 525px;
	position: absolute;            
	visibility: hidden;        
}   
.line5 {  
	margin-top: 253px;
	margin-left: 814px;
	position: absolute;            
	visibility: hidden;        
}    
.boxFbig, .boxSbig, .boxTbig, .overlay        
{            
	width: 138px;            
	height: 170px;   
	background-color: aqua;
	overflow: hidden;   
}   


.boxF, .boxS, .boxT, .overlay        
{            
	width: 64px;            
	height: 80px;            
	overflow: hidden;        
}        
.boxF, .boxS   ,     .boxFbig, .boxSbig
{            
	visibility: hidden;        
}        
.boxFbig     {  transform: rotate(150deg); }
.boxF     {            
	transform: rotate(150deg);            
	float: left;            
	margin-left: 52px;   
   }        
.boxS   ,.boxSbig     {            
	transform: rotate(-60deg);              
}        
	
.boxT ,.boxTbig       {            
	transform: rotate(-60deg);        
	background: no-repeat 50% center;            
	background-size: 125% auto;   
	visibility: visible;        
}        

.overlay{          
	transition: all 250ms ease-in-out 0s;            
	display: none;            
	position: relative;        
}        
.overlay:hover { background-color: rgba(0,0,0,0.6); }   
.boxT:hover.overlay{  display: block; }    


/* ----------------------------------------------- */
/* service PART */
/* ----------------------------------------------- */

/* section service*/
.section-service{
	background-color:rgb(241,243,241);
	margin-bottom: -30px;
}
.section-service h3{
	text-align: center;
}
.section-service h2{ 
	margin-top: -20px;
	margin-bottom: 0px;}
.section-service h3{ 
	margin-top: 18px;
	margin-bottom: 0px;
}
.servicebox {
	position: relative;
    background-color: rgb(221,218,214);
    width: 224px;
	height: 282px;
    margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 16px;
}

.serviceline {
    max-width: 738px;
    margin: 0 auto;
}
.servicebox:hover {
    background-color: rgb(152,219,225);
	transition: background-color 0.5s;

}

.servicebox img {
    width: 100%;
	height: 200px;
}

.service_align{
	float: left;
}


.service_title{
	position: absolute;
	width: 100%;
	font-weight: 400;
	text-transform: uppercase;
	color: #555;
	font-size: 24px;
	margin-top: -20px;
    text-align: center;
	letter-spacing:-1px;
}

.service_des{
	position: absolute;
	width: 90%;
	margin-left: 10%;
	font-weight: 400;
	color: #555;
	font-size: 15px;
	margin-top: 20px;
    text-align: left;
	letter-spacing:-1px;
}
/* access section  */
.section-access{
	background-color:rgb(246,247,245);
	padding-bottom: 110px;
}
.section-access h3{
	text-align: center;
}

.accessbox {
	position: relative;
    background-color: rgb(221,218,214);
    width: 224px;
	height: 282px;
    margin-right: 8px;
	margin-left: 8px;
    margin-bottom: 24px;
}

.accessline {
    max-width: 738px;
    margin: 0 auto;
}
.accessbox:hover {
    background-color: rgb(152,219,225);
	transition: background-color 0.5s;

}

.accessbox img {
    width: 100%;
	height: 114px;
}

.access_align{
	float: left;
}


.access_title{
	position: absolute;
	width: 100%;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	margin-top: -80px;
    text-align: center;
	letter-spacing:-1px;
}

.access_des{
	position: absolute;
	width: 60%;
	margin-left: 20%;
	font-weight: 400;
	color: #555;
	font-size: 16px;
	margin-top: 50px;
    text-align: left;
	letter-spacing: -1px;
}

.accessbox1{ background-color: rgb(245,247,180);}
.accessbox2{ background-color: white;}
.accessbox3{ background-color: rgb(151,218,224);}
/***********************/

/* ----------------------------------------------- */
/* FOOTER PART */
/* ----------------------------------------------- */

.section-footer{
	background-color: rgb(224,229,223);;
	padding-top: 50px;
	padding-bottom: 30px;
	height: 360px;
}
.section-footer img{
	width: 200px;
	height: auto;
}

.footerleft{
	width: 250px;
	margin-left: 80px;
	margin-right: 110px;
}

.footerright{
	float: left;
	margin-right: 15px
}

.footerright h4{
	font-weight: 300;
	font-size: 18pt;
    margin-bottom: 10px;
    letter-spacing: -1px;
}
.footerright h5{
	font-weight: 200;
	font-size: 15pt;
    letter-spacing: -1px;
	margin-bottom: -7px;
}
.footerright img{
	width: 140px;
}
.footerright{
	width: 170px;
}
.footerrow{
	width: 1400px;
	margin: 0 auto;
}

.social-links {
    list-style: none;
	margin-top: 10px;
	margin-left: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.divider{
	width: 94%;
	margin-left: 3%;
	margin-top: 77px;
	border-bottom: 2px solid white;
	

}
.copyright{
	margin-top: 7px;
	text-align: center;
}



/* ---------------------------------------- */
/*----------------SHOWCASE------------------*/
/* -----------------------------------------*/

.showcase-welcome{
	width: 100%;
	height: 300px;
	background-color:rgb(236,239,236);
}

.showcase-welcome-container{
	width: 1200px;
}
.showcase-welcome-container h1{
	color: #555;
}

.showcase-links {
    list-style: none;
	margin-top: 10px;
}

.showcase-links li {
    display: inline-block;
    margin-right: 20px;
}

.showcase-links li a:link,
.showcase-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.showcase-links li a:link,
.showcase-links li a:visited {
    font-size: 160%;
}


.link-like {
    color: #eb5656;
}

.link-star {
    color: #ffa346;
}

.link-text {
    color: #39a4dd;
}



/* ---------------------------------------- */
/*----------------SHOWCASE---show fo the day---------------*/
/* -----------------------------------------*/


.showcase-best-work {
	height: 400px;
	width: 100%;
	background-color: #e3e3e3;
}

.showcase-best-work-container{
	width: 900px;
}
.showcase-best-work-container h1{
	color: #555;
}



.showcase-best-work-container h2{
	margin-top: 0px;
	text-align: left;
	width: 200px;
	float: left;
}



.showcase-person-links {
    list-style: none;
	margin-top: 10px;
	width: 25%;
	float: left;
}
.showcase-person-links li {
    display: inline-block;
    margin-right: 10px;
}

.showcase-person-links li a:link,
.showcase-person-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.showcase-person-links li a:link,
.showcase-person-links li a:visited {
    font-size: 100%;
}

.showcase-best-work-pic{
	width: 50%;
	float: right;
}

.showcase-best-work-pic img{
	height: 100%;
	float: right;
	
	
}
.showcase-welcome-title{
	width: 40%;
	float: left;
}



/* ---------------------------------------- */
/*----------------SHOWCASE---works---------------*/
/* -----------------------------------------*/



.section-showcase{
	background-color: #f4f4f4;
    height: auto;
}

.section-showcase h3{
	text-align: center;
}

.showcase-container{
	width: 1400px;
	margin-top: 20px;
}
.showcase-work{
	width: 24%;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom: 14px;
}


.photo-photo {
    width: 100%;
    margin-left:0px;
    overflow: hidden;
    background-color: #000;
}

.photo-photo img {
    opacity: 0.7;
    width: 100%;
    height: 250px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.photo-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* ---------------------------------------- */
/*  magzine*/
/* ----------------------------------------*/


.section-magzine{
    background-color: rgba(224, 224, 224, 0.37);
    height: auto;
}

.section-magzine h3{
	text-align: center;
	
}


.outer-item{
	position: relative;
	
}
.magzine-icon{
	float: left;
	height: 50px;
	width: 50px;
	margin-left: -25px;
	border-radius: 30px;
	background-color: rgba(253, 203, 90, 0.77);
	margin-top: 15px;
}
.magzine-icon a{
	position: absolute;
	margin-left: 18px;
	margin-top: 12px;
	background-color: none;
	
	
}
.magzine-cat p{
	position: absolute;
	
	float: left;
	width: 100px;
	font-weight: 500;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 15px;
	color: #cbd3d3;
}

.magzine-head h3{
	text-align: left;
	margin-top: 50px;
	font-weight: 500;
	margin-bottom: 15px;
	margin-left: 30px;
}
.magzine-pic img{
	
	width:100%;
}

.magzine-info{
	font-size: 15px;
	width: 90%;
	margin-left: 10%;
	margin-top: 25px;
}

.magzine-btn{
	width: 90%;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 30px;
}
#list
{
    width: 100%;
    overflow: hidden;
    margin-bottom: -1.875em; /* 30px */
    -webkit-column-count: 3;
    -webkit-column-gap: 1.875em; /* 30px */
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1.875em; /* 30px */
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 1.875em; /* 30px */
    column-fill: auto;
}
.item1
{
	width: 86%;	
	height: 90%;
	background-color: white;
	margin-left: 7%;
   margin-bottom: 1.875em; /* 15px 30px */
   -webkit-column-break-inside: avoid;
   -moz-column-break-inside: avoid;
   column-break-inside: avoid;
}







/* ---------------------------------------- */
/*  artwork*/
/* ----------------------------------------*/







.section-showpic{
	background-color: #e8e8e8;
	margin-top: 60px;

}
.showpic{
	background-color: #e8e8e8;
}
.showpic img {
	width: 100%;
	height: auto;
	margin-top: -47px;
}

.three-btn{
	width: 350px;
	height: 60px;
	margin-top: -75px;
}


.comment-text-area{
	margin:20px 0 20px 0;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid white;
}

.comment-text-area-left{
	float: left;
	width: 25%;

}
.comment-text-area-left img{
	width: 30%;
	margin-left: 35%;
}


.comment-text-area-right{
	width: 74%;
	float:right;
}


.user-area .row img{
	width: 80%;
	margin-left: 10%;
}

.jiangzhang{
	margin-top: 10px;
	font-size: 150%;
}

.jiangzhang a{
	margin-left: 5px;
	margin-right: 5px;
}

.otherwork img{
	width: 60%;
	margin-left: 20%;
	margin-top: 10px;
}



/* ---------------------------------------- */
/*  magzine*/
/* ----------------------------------------*/


.magzine-upload{
	margin-top: 60px;
}


.mag-upload{
	width: 700px;
}


.maginfo{ margin-bottom: 30px;}
.mag-title input{
	width: 80%;
	margin-left: 10%;
}


.mag-name , .mag-source{
	width: 40%;
}
.mag-name {
	float: left;
}
.mag-source{
	float: right;
}

.mag-upload-pic{
	margin-top: 150px;
}




.mag-upload-pic textarea{
	width: 80%;
	margin-left: 10%;
	height: 200px;
}


.mag-intro textarea{
	width: 80%;
	margin-left: 10%;
	height: 100px;
}

.mag-context textarea{
	width: 80%;
	margin-left: 10%;
	height: 300px;
}


.mag-submit{
	text-align: right;
}








/* ---------------------------------------- */
/*  competition upload*/
/* ----------------------------------------*/



.competion-upload{
	margin-top: 60px;
}

.comp-upload{
	width: 700px;
}
.compinfo{ margin-bottom: 30px;}
.comp-upload img{
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
}
.comp-upload-pic textarea{
	width: 80%;
	margin-left: 10%;
	height: 200px;
}

.comp-title input{
	width: 80%;
	margin-left: 10%;
}

.comp-intro textarea{
	width: 80%;
	margin-left: 10%;
	height: 200px;
}


.comp-submit{
	text-align: right;
}


.comp-input{
	text-align: center;
	margin-bottom: 20px;
}





/* ---------------------------------------- */
/*  competition upload*/
/* ----------------------------------------*/

.user-info{
	margin-top: 60px;
	height: 600px;
	background-color: #efefef;
}

.useralign h1{
	color:black;
	text-align: center;
	letter-spacing: -3px;
	margin-bottom: 100px;
}
.userimg{
	
	margin-left: 540px;
	position: absolute;            
	visibility: hidden;  
}

.user-info p{
	color: black;
	margin-top: 40px;
	z-index: 200;

}
.user-info1{
	margin-top: 40px;
	margin-left: 170px;
	position: absolute;    
	background-color: rgb(170, 251, 225);
	height: 60px;
	width: 190px;
	border: 2px solid white;
}

.user-info2{
	margin-top: -40px;
	margin-left: 860px;
	position: absolute;    
	background-color: rgb(247, 251, 165);
	height: 40px;
	width: 120px;
	border: 2px solid white;
}
.user-info3{
	margin-top: 15px;
	margin-left: 820px;
	position: absolute;    
	background-color: rgb(170, 251, 225);
	height: 40px;
	width: 130px;
	border: 2px solid white;
}
.user-info4{
	margin-top: 90px;
	margin-left: 920px;
	position: absolute;    
	background-color: rgb(166, 158, 157);
	height: 40px;
	width: 90px;
	border: 2px solid white;
}
.user-info5{
	margin-top: 180px;
	margin-left: 770px;
	position: absolute;    
	background-color: rgb(224, 229, 223);
	height: 40px;
	width: 190px;
	border: 2px solid white;
}
.white-line1{
	width: 130px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 105px;
	margin-left: 260px;
}

.white-line2{
	width: 40px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 89px;
	margin-left: 380px;
	transform: rotate(-60deg);     
}

.white-line3{
	width: 100px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 73px;
	margin-left: 410px;
}

.white-line4{
	width: 94px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 34px;
	margin-left: 486px;
	transform: rotate(-60deg);     
}
.white-line5{
	width: 105px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: -8px;
	margin-left: 556px;
}

.white-line6{
	width: 94px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 34px;
	margin-left: 636px;
	transform: rotate(60deg);     
}



.white-line7{
	width: 70px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 55px;
	margin-left: 696px;
}
.white-line8{
	width: 58px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 31px;
	margin-left: 750px;
	transform: rotate(-60deg);     
}
.white-line9{
	width: 130px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 7px;
	margin-left: 794px;
}
.white-line10{
	width: 100px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 82px;
	margin-left: 864px;
}
.white-line11{
	width: 40px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 99px;
	margin-left: 836px;
	transform: rotate(-60deg);
}
.white-line12{
	width: 152px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 117px;
	margin-left: 694px;
}
.white-line13{
	width: 80px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 134px;
	margin-left: 644px;
	transform: rotate(-60deg);
}
.white-line14{
	width: 40px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 170px;
	margin-left: 624px;
}
.white-line15{
	width: 40px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 150px;
	margin-left: 674px;
}
.white-line16{
	width: 40px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 167px;
	margin-left: 704px;
	transform: rotate(60deg);
}
.white-line17{
	width: 40px;
	border-bottom: 2px solid white;
	position: absolute;    
	margin-top: 185px;
	margin-left: 732px;
}

.user-info-title{
	width: 112px;
	height: 30px;
	float: left;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	font-size: 16px;
	text-align: center;
	padding-top: 4px;
}
.userimg1{
	width: 200px;
	margin-left: 70px;
	margin-top: 30px;
}

.lineS1 {  
	margin-top: 118px;
	margin-left: 277px;
	position: absolute;            
	visibility: hidden;        
}     
.lineS2 {  
	margin-top: 152px;
	margin-left: 335px;
	position: absolute;            
	visibility: hidden;        
}  
.lines3{
	margin-top: 185px;
	margin-left: 509px;
	position: absolute;            
	visibility: hidden; 
	
}
.user-info-sec{
	width: 100%;
	padding-top: 100px;
	background-color:rgb(236, 239, 236);
	padding-bottom: 100px;
	margin-bottom: -100px;
}
.user-info-sec h1{
	text-align: center;
	color: black;
	letter-spacing: -3px;
}
.user-info-left{
	width: 35%;
	float: left;
}
.userinfo-right{
	width: 60%;
	float: right;
	
	position: relative;
}


.userinfo-name h3{
	height: 23px;
	width: 100px;
	position: absolute;
	margin-top: 45px;
	margin-left: 15px
}
.userinfo-name a{
	height: 30px;
	width: 400px;
	position: absolute;
	margin-top: 43px;
	margin-left: 125px
}
.userinfo-title h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 85px;
	font-size: 15px;
	margin-left: 15px
}
.userinfo-title a{
	height: 30px;
	width: 400px;
	position: absolute;
	margin-top: 81px;
	font-size: 15px;
	margin-left: 125px
}
.userinfo-current h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 110px;
	font-size: 15px;
	margin-left: 15px
}
.userinfo-current a{
	height: 30px;
	width: 400px;
	position: absolute;
	margin-top: 108px;
	margin-left: 125px;
	font-size: 15px;
}
.userinfo-location h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 110px;
	font-size: 15px;
	margin-left: 235px;
}
.userinfo-location a{
	height: 30px;
	width: 400px;
	position: absolute;
	margin-top: 108px;
	margin-left: 335px;
		font-size: 15px;
}

.userinfo-previous h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 134px;
	font-size: 15px;
	margin-left: 15px;
}
.userinfo-previous input{
	height: 20px;
	width: 340px;
	position: absolute;
	margin-top: 134px;
	font-size: 15px;
	margin-left: 125px;
}

.userinfo-edu h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 160px;
	font-size: 15px;
	margin-left: 15px;
}
.userinfo-edu input{
	height: 20px;
	width: 340px;
	position: absolute;
	margin-top: 159px;
	font-size: 15px;
	margin-left: 125px;
}
.userinfo-deg h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 185px;
	font-size: 15px;
	margin-left: 15px;
}
.userinfo-deg input{
	height: 20px;
	width: 340px;
	position: absolute;
	margin-top: 183px;
	font-size: 15px;
	margin-left: 125px;
}
.userinfo-wechat h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 209px;
	font-size: 15px;
	margin-left: 15px;
}
.userinfo-wechat input{
	height: 20px;
	width: 100px;
	position: absolute;
	margin-top: 207px;
	font-size: 15px;
	margin-left: 125px;
}
.userinfo-hobby h3{
	height: 30px;
	width: 100px;
	position: absolute;
	margin-top: 209px;
	font-size: 15px;
	margin-left: 265px;
}
.userinfo-hobby input{
	height: 20px;
	width: 100px;
	position: absolute;
	margin-top: 207px;
	font-size: 15px;
	margin-left: 365px;
}


.userinfo-box{
	width: 90%;
	margin-left: 5%;
	border-top: 2px solid white;
}
.userinfo-experience{
	margin-top: 270px;
}
.userinfo-rewards{
	margin-top: 53px;
}
.userinfo-press{
	margin-top: 53px;
}
.userinfo-resume{
	margin-top: 20px;
}

.userinfo-skills{
	margin-top: 20px;
}




.user-info-form{
	width: 834px;
	margin: auto;
	height: 594px;
	border: 2px solid white;
}




