/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.icon-big {
    font-size: 200%;
    display: block;
    color: #fff;
}


.icon-color {
    font-size: 200%;
    display: block;
    color: #ffb653;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit]
 {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

.btn-box:link,
.btn-box:visited,
input[type=submit]{
	font-size: 120%;
    background-color: rgb(152,219,225);
    border: 2px solid #fff;
    color: #fff;
    margin-right: 15px;
	transition: background-color 0.2s, color 0.2s;
}
.btn-box:hover,
.btn-box:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(122, 196, 203);
	transition: background-color 0.2s;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.section-header{
	background-color: rgb(152,219,225);
	height: 80px;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #fff;
}

header .row{
	width: 100%
	margin: 0;
	padding: 0;
	height: 80px;
}

header .col{
	margin: 0;
	padding: 0;
	height: 80px;
}


.brandpic{
	z-index: 9999999;
	margin-top: 5px;
	margin-left:100%;
	height: 70px;
	width: auto;
	
}

.index-header-button{
		width: 100%;
	margin-top: 14px;
	margin-left: 700px;
	
}
.header-button{
	width: 100%;
	margin-top: 2px;
	margin-left: 700px;
}



.header-button li{
	margin-top: 13px;
	text-decoration: none;
	display: inline-block;
	margin-right: 20px;
}

.header-button li:first-child{
	margin-top: 0px;
	height: 30px;
	margin-left: 50px;
	margin-right: 50px;
}
.header-button li:first-child img{
	border: 0px;
	margin-top: -20px;
	padding: 0;
	height: 45px;
}
.nav-dropdown-menu{
	background-color: rgba(152, 219, 225, 0.85);
	margin-top: 16px;
}
.nav-dropdown-menu li:first-child{
	margin-left: 0px;
}
#search{
	margin-left: 50px;
	position: absolute;
	float: right;
	margin-top: -47px;
	width:150px;
	display: none;
}

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(152, 219, 225, 0.85);
	background-color: #a6d8de;
    box-shadow: 0 2px 2px #9d9d9d;
    z-index: 9999;
}


/* ----------------------------------------------- */
/* POSTER */
/* ----------------------------------------------- */
.section-poster {
	margin: 0;
	padding: 0;
}

.indexslider{
	height: 600px;
}
.indexslider img{
	width: 100%;
	height: 10px;
}


/* ----------------------------------------------- */
/* USER PART */
/* ----------------------------------------------- */
.section-user{
	width: 100%;
	height: 200px;
	background-color: antiquewhite;
}




/* ----------------------------------------------- */
/* USER login PART */
/* ----------------------------------------------- */
.section-form{
	display: block;
}
.section-lab{
	display: none;
	height: 600px;
}
.section-lab-in{
	padding-top: 35px;
	height: 400px;
	position: relative;
}


.lab_itembig {
  margin-left: 309px;
	margin-top: -80px;
  width: 160px;
  height: 320px;
  position: relative;
  display: inline-block;
}

.hexagon2big {
  position: relative;
  width: 160px;
  height: 320px;
}

.section-lab article,
.section-lab-in article{
  padding-top: 1em;
  width: 1000px;
  margin: -146px;
	margin-left: 307px;
}

.lab_item {
  width: 80px;
  height: 160px;
  position: relative;
  display: inline-block;
}

.hexagon2 {
  position: absolute;
  width: 80px;
  height: 160px;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.hexagon-in2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 125%;
  visibility: visible;
  transform: rotate(-60deg);
  transition: all 0.5s ease;
}

.hexagon-in2:hover {
  box-shadow: inset 0 0 0 0px #B0DAD4;
}

.lab_item:nth-child(26n+12) {
  margin-left: 42px;
}

.lab_item:nth-child(n+12) {
  margin-top: -92px;
}




.righthalf{
	position: absolute;
	display: block;
	width: 40%;
	margin-top: -180px;
	margin-left: 760px;
}
.righthalf h1{
	color: #555;
}


.righthalf-mag{
	position: absolute;
	display: block;
	width: 40%;
	margin-top: -320px;
	margin-left: 460px;
}
.righthalf-mag h1{
	color: #555;
}




/* ----------------------------------------------- */
/* service PART */
/* ----------------------------------------------- */
.section-form{
	width: 100%;
	background-color: #f4f4f4;
}
.js--comfirm-password{
	display: none;
}

.remember-me{
	display: block;
}
.formleft{
	display: block;
	border: 2px solid #fff;
	float: left;
	margin-left: 58px;
	width: 35%;
	
}

.formmiddle{
	border: 2px solid #fff;
	display: none;
	margin-top: 0px;
	margin-left: 174px;
	background-color:rgb(255,95,64);
	width: 200px;
}
.formmiddle:hover{
	background-color: rgb(250, 46, 7);
	transition: background-color 0.2s;
}



.form-group .formleft{
	background-color:rgb(255,95,64);
	border: 2px solid #fff;
}

.form-group .formleft:hover{
	background-color: rgb(250, 46, 7);
	transition: background-color 0.2s;
}



.formright{
	border: 2px solid #fff;
	display: block;
	float: left;
	margin-left: 30px;
	background-color: rgb(152,219,225);
	width: 35%;
}


.form-group .formright:hover{
	background-color: rgb(80, 178, 186);
	transition: background-color 0.2s;
}
.section-service{
	background-color:rgb(236,234,232);
}
.section-service h3{
	text-align: center;
}

.servicebox {
    background-color: rgb(221,218,214);
    width: 90%;
	height: 400px;
    margin-left: 10%;
	border: 3px solid #fff;
    box-shadow: 0 2px 2px #efefef;
    margin-bottom: 0px;
}
.servicebox:hover {
    background-color: rgb(152,219,225);
	transition: background-color 0.5s;

}

.servicebox img {
	margin-top: 10px;
	margin-left: 4px;
    height: 300px;
}


.servicebox div:last-child{
	margin-top: 0px;
    text-align: center;
    border: 0;
}
.formcontainer h3{
	text-align: center;
}
.formcontainer p{
	margin-left: 40px;
}


.link-facebook {
    color: #3b5998;
}

.link-twitter {
    color: #00aced;
}

.link-googleplus {
    color: #dd4b39;
}

.link-instagram {
    color: #517fa4;
}
.fourlinks{
	padding-left: 160px;
}
/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */
.formcontainer{
	width: 540px;
}

/* ----------------------------------------------- */
/* UPLOAD */
/* ----------------------------------------------- */
.upload-bar {
    height: 18px;
    background: green;
}

/* ----------------------------------------------- */
/* FOOTER PART */
/* ----------------------------------------------- */

.section-footer{
	background-color: #bfbfbf;
	padding-top: 50px;
	padding-bottom: 30px;
}
.section-footer img{
	width: 200px;
	height: auto;
}


.social-links {
    list-style: none;
	margin-top: 10px;
	margin-left: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.copyright{
	margin-top: 30px;
	text-align: center;
}



/* ---------------------------------------- */
/*SHOWCASE----------------------*/
/* ----------------------------------------*/

.showcase-container{
	padding-top: 0px;
	padding-left: 2.5%;
	padding-bottom: 0px;
}
.showcase-work{
	width: 32%;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}



.section-showcase{
	background-color: #f4f4f4;
    height: auto;
}

.section-showcase h3{
	text-align: center;
}

.photo-photo {
    width: 100%;
    margin-left:0px;
    overflow: hidden;
    background-color: #000;
}

.photo-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.photo-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* ---------------------------------------- */
/*  magazine*/
/* ----------------------------------------*/

.magazine-work h5{
	color: #dcdcdc;
	font-size: 14px;
	margin-left:40px;
	margin-top: -37px;
	
}


.magazine-work h4{
	color: #333;
	font-size: 17px;
	text-decoration: none;
	text-align: left;
	padding-left: 0px;
	margin-left:40px;
	margin-top: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
	text-transform: uppercase;
	
}
.magazine-work img{
	height: auto;
	margin-bottom: 40px;
}
.magazine-work p{
	margin-left: 30px;
		overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
	margin-bottom: 30px;
	
}
.magazine-work a {
	margin-left: 30px;
	margin-bottom: 30px;
}

.section-magazine h3{
	text-align: center;
}


.section-magazine{
	background-color: #f4f4f4;
    height: auto;
}

#list
{
	
    width: 90%;
    overflow: hidden;
	margin-left: 5%;
    margin-bottom: -1.875em; /* 30px */
    -webkit-column-count: 3;
    -webkit-column-gap: 1.875em; /* 30px */
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1.875em; /* 30px */
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 1.875em; /* 30px */
    column-fill: auto;
}
    .item
    {
		background-color: #fff;
        margin-bottom: 1.875em; /* 15px 30px */
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
    }
.item img{
	width:100%;
}
 
@media only screen and ( max-width: 40em ) /* 640px */
{
    #list
    {
        -webkit-column-count: 2;
        -webkit-column-gap: 0.938em; /* 15px */
        -moz-column-count: 2;
        -moz-column-gap: 0.938em; /* 15px */
        column-count: 2;
        column-gap: 0.938em; /* 15px */
    }
        .item
        {
            margin-bottom: 0.938em; /* 15px */
        }
}
@media only screen and ( max-width: 20em ) /* 320px */
{
    #list
    {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
    }
}

.section-showpic{
	background-color: #e2e2e2;
}
/*show pic*/
.showpic{
	width: 100%;
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 10px;
	margin-top: -20px;
}
.showpic img{
width: 100%;
	height: auto;
}
.icon-mid{
	font-size: 17px;
}

.three-btn{
	margin-top: 0;
	margin-left: 0;
	width: 350px;
	
}

.text-input
{
	margin-top: 0px;
	width: 100%;;
}

.comment-area{
	margin-top: 20px;
}
.comment-area h3{
	margin-top: 0px;
	margin-left: 20px;
}
.user-area {
	margin-top: -20px;
}
.user-area img{
	margin-left: 10%;
}

.jiangzhang{
	margin-top: 30px;
}

.jiangzhang a{
	margin-left:25px;
	margin-bottom: 20px;
}
.jiangzhang a:last-child{
	margin-left: 20px;
}
.user-area h3{
	text-align: center;
}

.otherwork img{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 5%;
}

.section-about{
	margin-top: 0;
	padding-top: 0px;
	padding-bottom: 0;
}
.section-about img{
	width: 100%;
}



/* ---------------------------------------- */
/*  FORM */
/* ----------------------------------------*/




.section-form1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0)),url(img/laixin.jpg);
    background-size: cover;/*背景图居中*/
    background-position: center;
    background-attachment: fixed;
    margin-top: -4px;
    height: 550px;
}
.contact-form{
    width: 60%;
    margin: 0 auto;
}
.section-form1 h2{
    color: #fff;
}
.section-form1 a{
    color: #fff;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    height: 100px;
}

*:focus{
    outline: none;
}
