.wocao{
	width: 300px;
	height: 300px;
	background-color: aquamarine;
	margin-left: 100px;
}

.aaa3{
	position: absolute;
	margin-top: 269px;
	margin-left: 200px;
	
}
.aaa2{
	position: absolute;
	margin-top: 205px;
	margin-left: 200px;
}