@charset "utf-8";
/* CSS Document */
body {font-family:"微软雅黑";  margin:0 auto; padding:0px; font-size:12px; height:100%; line-height:22px; width:100%;}
div{behavior: url(css/iepngfix.htc)}
ul,ul li,ol li{ list-style-type:none; margin:0; padding:0; }
p{ margin:0; padding:0}
.clear{ clear:both; height:0px; line-height:0px; font-size:0px;}
a{ text-decoration:none; color:#666666}a:hover{ color:#FF0000}
/*a:hover{ text-decoration:underline;}*/
img{ vertical-align:middle;}
.imgs{ vertical-align:top;}
.lf{ float:left;}
.rg{ float:right;}  
img{border:none;}

div:hover,li:hover,tr:hover{  -webkit-transition: none; -moz-transition: none; transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear; -moz-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear; -webkit-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear; -o-transition: color 0.3s linear, background-color 0.3s linear, background-image 0.3s linear;}
/* 动作样式 */
/*#logo{ left:120px;}
#dh-a{ left:120px; position:relative;}
#dh-b{ left:120px; position:relative;}
#dh-c{ left:120px; position:relative;}
#dh-d{ left:120px; position:relative;}
#dh-e{ left:120px; position:relative;}
#dh-f{ left:120px; position:relative;}
#dh-g{ left:120px; position:relative;}*/
#ss1{ position:relative; left:100px;}
#ss2{ position:relative; left:100px;}
#ss2_2 div{ position:relative; left:100px;}
#wtp_1{ position:relative; top:100px;}
#wtp_2{ position:relative; top:100px;}
#dd{ position:relative; right:200px;}
#gallery{ position:relative; top:100px;}
#gallery1{ position:relative; top:100px;}
#fenye{ position:relative; top:100px;}
#ddrg{ position:relative; left:200px;}
#dd1{ position:relative; top:100px;}
/* 动作样式 */
/* index */
#bg_landing{ position:absolute; z-index:10; top:50%; height:30px; width:30px; margin-top:-15px; left:50%; margin-left:-15px;}
.head{ background:url(../images/bg_01.png) repeat-x; height:74px; z-index:1000; position:fixed; width:100%}
.box{ width:1002px; margin:0 auto;}
.logo{ width:195px; height:74px;position:relative;}
.dh{ height:74px; width:807px; padding-right:5000px; margin-right:-5000px; background:#fff; _position:fixed;}
.activesss{ float:left; background:url(../images/1_01.jpg) right no-repeat; height:74px; width:113px; padding-right:1px;  z-index:100;}
.activesss .a1{ color:#565656; font-size:14px; font-weight:bold; text-align:center; line-height:74px; display:block;}
.activesss:hover .a1{ background:url(../images/1_02.jpg) no-repeat; color:#FFFFFF;}
.li .a1{ background:url(../images/1_02.jpg) no-repeat; color:#FFFFFF;}
.Locate{ position:absolute; top:74px; width:114px; text-align:center; overflow:hidden; background:url(../images/1_03.png) repeat-y; zoom:1; z-index:10000; display:none;}
.Locate ul{ display:block; margin:0 auto;}
.Locate ul li{ float:left; display:block; height:39px; border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; text-align:center; line-height:39px; width:112px;}
.Locate ul li a{ text-decoration:none; font-weight:normal; font-size:12px; color:#999999; display:block;}
.Locate ul li a:hover{ color:#FF0000; }
.Locate li{ display:block; }



.tag_right{ overflow:auto;}
/* index end */
/* main */

.pro{ position: absolute; width:1116px; left:50%; margin-left:-558px; top:50%; margin-top:-131px; height:460px;  z-index:1;}
.pro1{ position: absolute; width:982px; left:50%; margin-left:-491px; top:50%; margin-top:-150px; height:460px;  z-index:1; background:#fff; padding:23px 33px; }
.main-box{ position: absolute; width:1002px; left:50%; margin-left:-501px; top:50%; margin-top:-121px; height:460px;  z-index:1; background:url(../images/main_bg.png) repeat-y; overflow:hidden; color:#666666;}
.heg{ position: absolute; width:1002px; left:50%; margin-left:-501px; top:50%; margin-top:-121px; height:460px;  z-index:1; background:url(../images/main_bg.png) repeat-y; overflow:hidden; color:#666666;}
.pro .rollBox{ width:1000px; margin:0 auto;}
.propro .LeftBotton{ height:23px;width:27px;background:url(../images/1_04.png) no-repeat 0;overflow:hidden;float:left;display:inline;cursor:pointer; position:absolute; top:50%; margin-top:87px; left:3%; z-index:40;}
.propro .LeftBotton:hover{ height:23px;width:27px;background:url(../images/1_04a.png) no-repeat 0;overflow:hidden;float:left;display:inline;cursor:pointer;}
.propro .RightBotton{height:23px;width:27px;background:url(../images/1_05.png) no-repeat 0;overflow:hidden;float:left;display:inline;cursor:pointer; position:absolute; top:50%; margin-top:87px; right:3%; z-index:40;}
.propro .RightBotton:hover{ height:23px;width:27px;background:url(../images/1_05a.png) no-repeat 0;overflow:hidden;float:left;display:inline;cursor:pointer;}
.pro .rollBox .Cont{width:1000px;;overflow:hidden;float:left; margin-top:10px;}
.pro .rollBox .ScrCont{width:10000000px;}
.pro .rollBox .Cont .pic{width:190px;float:left; margin-right:5px; margin-left:5px; background:url(../images/1_06.jpg) repeat-x; height:460px; cursor:pointer;}
.pro .rollBox .Cont .pic:hover{ background:#c30003;}
.pro .rollBox .Cont .pic a{ display:block; width:190px; height:460px; color:#383735; cursor:pointer;}
.pro .rollBox .Cont .pic:hover a{ color:#fff;}
.pro .rollBox .Cont .pic .div1{ height:108px; overflow:hidden; padding-top:20px; text-align:center;}
.pro .rollBox .Cont .pic .div2{ margin-top:49px; width:110px; margin:0 auto;}
.pro .rollBox .Cont .pic .div2 div{ margin-top:10px;}
.pro .pro .rollBox .Cont .pic .div2 div{ height:180px; line-height:20px; overflow:hidden; margin-top:30px;}
.pro .rollBox #List1,.rollBox #List2{float:left;} 


.ss{ padding:23px 28px; overflow:hidden;}
.ss1{ color:#c30003; font-size:24px; font-weight:bold; line-height:24px;}
.ss2{ margin-top:10px;}
.ss2_1{ width:343px;}
.ss2_2{ width:374px; background:url(../images/1_23.png) top left no-repeat; padding-left:161px; margin-top:-50px;}
.ss2_2 .text{ height:30px; width:251px; border:0px; background:#f0f0f0; line-height:30px; font-family:微软雅黑; font-size:12px; color:#666666; padding-left:15px; padding-right:15px; overflow:hidden}
.ss2_2 .text1{ height:131px; width:254px; border:0px; background:#f0f0f0; line-height:24px; font-family:微软雅黑; font-size:12px; color:#666666; padding-left:15px; padding-right:15px; overflow:hidden}
/*.ss2_2 div{ margin-bottom:8px; *margin-bottom:6px;}*/
.ss2_2 span{ color:#c30003; margin-left:5px;}
.ss2_2 .div1{ margin-top:10px; color:#8a8a8a;}
.ss2_2 .div1 a{ margin-right:15px;}
.pro_serch{ float:right; width:260px}
.pro_serch .text{ height:19px; border:1px solid #c0bebf; margin-right:5px; width:136px; padding-left:5px; padding-right:5px; font-family:微软雅黑; font-size:12px; color:#666;}
.pro_serch1{ float:left; width:660px;}
.pro_serch1 a{ color:#6b6b6b; display:block; float:left; margin-left:5px; font-size:12px; ; padding:1px; border:1px solid #cccccc; height:17px; line-height:17px; padding-left:15px; padding-right:15px;}
.pro_serch1 a:hover{ color:#ca3f41}
.pro_serch1 .a1{ color:#ca3f41; border:1px solid #ca3f41;}


.pro_list{ height:409px; width:100%; margin-top:80px;}
.pro_list .tp{ width:982px; margin:0 auto; height:262px; position: relative; margin-bottom:44px; overflow:hidden; overflow:hidden;}
.pro_list .tptw{float:left; width:238px; display:inline; margin-right:10px; background:url(../images/1_27.jpg) no-repeat; height:259px;}
.pro_list .tptw a { color:#8f8f8f; display:block;}
.pro_list .tptw span{ color:#383735; font-size:14px;}
.pro_list .tptw a .p1{ padding:5px; height:156px; display:block;}
.pro_list .tptw a .p2{ padding:10px 15px 10px 15px; text-align:center;}
.pro_list .tptw:hover{ background:#c30003;}
.pro_list .tptw:hover a{ color:#fff;}
.pro_list .tptw:hover span{ color:#fff;}
.pro_list .tpn{ width:641px; margin:0 auto; height:23px;}
.pro_list .tbh4{ background:url(../images/1_28.jpg) repeat-x; width:641px; height:10px;  position:relative;}
.pro_list .tbh4 span{ background:url(../images/1_29.png) 0px 0px; position:absolute; left:0; width:50px; height:23px; top:-8px;  cursor:pointer;}
.pro_list .left-tb{ width:62px;}
.pro_list .left-tb img{ vertical-align:top;}
.pro_list .right-tb{ width:64px;}
.pro_list .right-tb img{ vertical-align:top;}
.pro_list .wtp_1{ position:relative; left: 0px; height:259px; overflow:hidden;}
.pro_list .wtp_2{ width:767px; margin:0 auto; margin-top:80px;}
.LeftBotton1{ height:23px;width:27px;background:url(../images/1_04.png) no-repeat 0;overflow:hidden;float:left;display:block;cursor:pointer; position:absolute; left:5%; top:50%; margin-top:75px; z-index:10000;}
.LeftBotton1:hover{ height:23px;width:27px;background:url(../images/1_04a.png) no-repeat 0;overflow:hidden;float:left;display:block;cursor:pointer;}
.RightBotton1{height:23px;width:27px;background:url(../images/1_05.png) no-repeat 0;overflow:hidden;float:left;display:block;cursor:pointer; position:absolute; right:5%; top:50%; margin-top:75px; z-index:10000;}
.RightBotton1:hover{ height:23px;width:27px;background:url(../images/1_05a.png) no-repeat 0;overflow:hidden;float:left;display:block;cursor:pointer;}
.pro_lf{ width:499px;}
.pro_rg{ width:467px;}
.pro_rg .div1{ text-align:right;}
.pro_rg .div2{ margin-top:17px;}
.pro_rg .div2 a{ display:block; float:left; border:1px solid #d8dddf; margin-right:20px; color:#fff; overflow:hidden; width:127px; height:115px;}
.pro_rg .div2 a .div_a{ background:url(../images/1_35.png) repeat-x; height:23px; line-height:23px; padding-left:10px; padding-right:10px; overflow:hidden; text-align:center; position:relative; z-index:20; margin-top:-23px; width:}
.pro_rg .div3{ background:url(../images/1_39.jpg) left top no-repeat; height:41px; line-height:37px; margin-top:36px; color:#242424; font-size:18px; padding-left:11px;}
.pro_rg .div4{ height:175px; overflow:auto; padding-right:30px; padding-left:12px; margin-top:10px;}




#form1{ overflow:hidden;}
.word{ padding:23px 33px; background:#fff; }
.wordd{ padding:23px 33px; background:#fff;}
.dd{ color:#c30003; font-size:24px; line-height:24px; margin-bottom:15px;}
.ul_word li{ width:174px; height:164px; padding-right:16px; float:left; overflow:hidden; padding-bottom:16px;}
.ul_word .li{ padding-right:0px;}
.ul_word li a{ display:block; width:174px; height:164px; color:#fff;}
.ul_word li a .div1{ background:url(../images/1_35.png) repeat-x; height:23px; line-height:23px; padding-left:10px; padding-right:10px; text-align:center; position:relative; margin-top:-23px; overflow:hidden; }
.fenye{ margin-top:0px;}
.world_biaoti{ color:#c30003; font-size:16px; margin-top:10px; line-height:24px; font-family:微软雅黑; font-weight:normal;}
.world_txt{ color:#4b4b4b; font-size:12px; margin-bottom:10px; line-height:24px; font-family:微软雅黑; font-weight:normal;}

.dd1{ margin-bottom:15px;}
.word1{ background:url(../images/2_04.jpg) no-repeat; height:120px; overflow:hidden;}  
.word1 .rollBox{ padding-top:62px; padding-left:33px; background:url(../images/2_07.png) 49px 93px no-repeat; height:58px;}
.word1 .rollBox .LeftBotton{ height:12px;width:6px;background:url(../images/2_05.png) no-repeat top;overflow:hidden;float:left;display:inline;cursor:pointer; position:relative; margin-top:25px;}
.word1 .rollBox .RightBotton{height:12px;width:6px;background:url(../images/2_06.png) no-repeat top;overflow:hidden;float:left;display:inline;cursor:pointer; position:relative; margin-top:25px;}
.word1 .rollBox .Cont{width:532px;overflow:hidden;float:left; margin-left:10px; margin-right:10px;}
.word1 .rollBox .Cont .pic{ text-align:center; width:76px; text-align:center; background:url(../images/2_08.png) center 28px no-repeat; float:left; padding-bottom:30px;}
.word1 .rollBox .Cont .pic a{ color:#fff; display:block; padding-bottom:30px;} 
.word1 .rollBox .Cont .pic a:hover{ font-size:14px;}
.word1 .rollBox .Cont .pic1{ background:url(../images/2_09.png) center 26px no-repeat;}
.word1 .rollBox .Cont .pic1 a{ color:#fff;}
.word1 .rollBox .ScrCont{width:10000000px;}
.word1 .rollBox #List1,.rollBox #List2{float:left;} 


.word2{ background:url(../images/2_11.jpg) no-repeat; height:120px; overflow:hidden;}  
.word2 .rollBox .LeftBotton{ height:12px;width:6px;background:url(../images/2_05a.png) no-repeat top;overflow:hidden;float:left;display:inline;cursor:pointer; position:relative; margin-top:25px;}
.word2 .rollBox .RightBotton{height:12px;width:6px;background:url(../images/2_06a.png) no-repeat top;overflow:hidden;float:left;display:inline;cursor:pointer; position:relative; margin-top:25px;}
.word2 .rollBox .Cont .pic a{ color:#616161; display:block; padding-bottom:30px;} 
.word2 .rollBox .Cont .pic1 a{ color:#616161;}
.word2 .rollBox .Cont .pic1{ background:url(../images/2_09a.png) center 26px no-repeat;}

.ul_word1{ /*margin-top:15px; */width:930px;}
.ul_word1 li{ height:65px; padding-bottom:8px; padding-top:8px; border-bottom:1px solid #dbd9d9; color:#616161; overflow:hidden; *margin-top:-4px; cursor:pointer;}
.ul_word1 li .lf{ height:65px; width:82px; text-align:center; line-height:65px; color:#343434; border-right:1px dashed #bbbab9;}
.ul_word1 li .rg{ width:815px; padding-right:20px;}
.ul_word1 li:hover{ background:#c30003; color:#fff;border-bottom:1px solid #dbd9d9;}
.ul_word1 li:hover .lf{ color:#fff; border-right:1px dashed #fff;}
.dd .rg{ padding-top:4px;}
.dd .rg a{ color:#ca3f41; display:block; float:left; margin-left:5px; font-size:12px;  center repeat-x; padding:1px; border:1px solid #cccccc; height:17px; line-height:17px; padding-left:15px; padding-right:15px;}
.dd .rg a:hover{ color:#ca3f41}
.dd .rg .a1{ color:#ca3f41; border:1px solid #ca3f41;}

/*.table{ margin-top:10px;}*/
.table{ margin-bottom:10px;}
.table .tr td{ color:#c30003; font-weight:bold; line-height:30px; height:30px;}
.table tr td{ border-bottom:1px solid #dbd9d9; padding-left:15px; padding-right:15px; height:28px; line-height:28px; color:#343434}
.table tr .td{ border-right:1px dashed #c7c7c7;}
.table tr td a{ color:#616161;}
.table tr td a:hover{ color:#c30003}
.moves{ text-align:center;}
.moves1{ margin-top:50px; text-align:center;}
.txt{ height:378px; overflow:auto;}
.div_serv{ margin-top:15px; height:248px; line-height:24px;}


.ul_ser{ margin-top:15px;}
.ul_ser li{ margin-bottom:12px;}
.ul_ser li .div1{ background:#e9e9ea; height:29px; line-height:29px; padding-left:16px; color:#000000; font-size:14px;}
.ul_ser li .div2{ border:1px solid #d6d6d6; padding-left:15px; padding-right:15px;}
.ul_ser li .div2 .div2_1{ height:44px; border-bottom:1px dashed #d6d6d6; color:#939292; padding-bottom:5px; padding-top:5px;}
.ul_ser li .div2 span{ color:#c30003;}
.ul_ser li .div2 .div2_2{ padding-top:5px; padding-bottom:5px;}

.table1{ margin-top:15px;}
.table1 .tr td{ color:#c30003; font-weight:bold;}
.table1 tr td{ background:#e7e8e9; text-align:center; color:#959596; height:28px; line-height:28px; overflow:hidden;}
.table1 tr td a{ color:#616161;}
.table1 tr td a:hover{ color:#c30003}
.table1 .tr1 td{ background:#fafafa}
.table1 tr .td1{ border-right:1px solid #fafafa;}
.table1 tr .td2{ text-align:left; padding-left:25px; padding-right:25px;}

.ss2{ margin-top:10px;}

.ss2_2a{ background:url(../images/3_04.png) top left no-repeat; height:427px; padding-left:568px;}
.ss2_2a .text{ height:30px; width:331px; border:0px; background:#f0f0f0; line-height:30px; font-family:微软雅黑; font-size:12px; color:#666666; padding-left:15px; padding-right:15px; overflow:hidden}
.ss2_2a .text1{ height:131px; width:344px; border:0px; background:#f0f0f0; line-height:24px; font-family:微软雅黑; font-size:12px; color:#666666; padding-left:15px; padding-right:15px; overflow:hidden}
.ss2_2a div{ margin-bottom:8px; *margin-bottom:6px;}
.ss2_2a span{ color:#c30003; margin-left:5px;}
.ss2_2a .div1{ margin-top:10px; color:#8a8a8a;}
.ss2_2a .div1 a{ margin-right:15px;}


.news_list{ height:399px; width:100%;}
.news_list .tp{ width:935px; margin:0 auto; height:365px; position: relative; overflow:hidden; overflow:hidden;}
.news_list .tptw{float:left; width:309px; display:inline; margin-right:4px; height:345px;}
.news_list .tptw a{ padding:5px; display:block; width:299px; color:#737373; cursor:pointer; height:345px;}
.news_list .tptw a .div1{ height:179px; display:block;}
.news_list .tptw a .div2{ height:38px; line-height:38px; color:#333; font-size:14px; font-weight:bold; display:block;}
.news_list .tptw a .div3{ height:14px; background:url(../images/4_07.png) center no-repeat; line-height:14px; text-align:center; display:block; color:#333;}
.news_list .tptw a .div4{ height:40px; margin-top:6px; margin-bottom:20px; overflow:hidden; display:block;  color:#333;}
.news_list .tptw a .div5{ background:url(../images/4_05.jpg) no-repeat; width:102px; height:25px; display:block;}
.news_list .tptw a:hover{ background:#c30003; color:#fff;}
.news_list .tptw a:hover .div2{ color:#fff;}
.news_list .tptw a:hover .div3{ background:url(../images/4_08.png) center no-repeat}
.news_list .tptw a:hover .div5{ background:url(../images/4_06.jpg) no-repeat; width:102px; height:25px;}

.news_list .tpn{ width:641px; margin:0 auto; height:23px;}
.news_list .tbh4{ background:url(../images/1_28.jpg) repeat-x; width:641px; height:10px;  position:relative;}
.news_list .tbh4 span{ background:url(../images/1_29.png) 0px 0px; position:absolute; left:0; width:50px; height:23px; top:-8px;  cursor:pointer;}
.news_list .left-tb{ width:62px;}
.news_list .left-tb img{ vertical-align:top;}
.news_list .right-tb{ width:64px;}
.news_list .right-tb img{ vertical-align:top;}
.news_list .wtp_1{ position:relative; left: 0px; height:345px; overflow:hidden;}
.news_list .wtp_2{ width:767px; margin:0 auto;}

.biaoti .p1{ color:#3f3f3f; font-size:14px; font-weight:bold; text-align:center;}
.biaoti .p2{ border-bottom:1px solid #ddd; border-top:1px solid #ddd; text-align:center; margin-top:10px; margin-bottom:20px;}
.div_abo table tr td{ width:100px; padding-right:20px; height:100px; background:url(../images/4_10.png) no-repeat;}
.div_abo table tr td a{ width:100px; height:100px; font-size:16px; color:#fff;}
.div_abo table tr .td,.div_abo table tr td:hover{ background:url(../images/4_10a.png) no-repeat;}
.div_abo{ border-bottom:1px solid #e0e0e0; padding-bottom:15px; margin-bottom:15px;}
.div_abo1{ height:245px;}

.div_abo2{ background:url(../images/4_13.png) no-repeat; padding-top:5px; color:#5a5b5a; padding-left:32px; height:329px; padding-bottom:30px;}
.div_abo2　strong{ color:#383838;}
.div_abo2 .p1{ margin-bottom:14px;}
.div_abo2 .p2{ margin-bottom:9px;}
.div_abo2 .p3{ margin-bottom:11px;}
.div_abo2 .p4{ margin-bottom:13px;}
.div_abo2 .p5{ margin-bottom:9px;}
.div_abo2 .p6{ margin-bottom:12px;}
.div_abo2 .p7{ margin-bottom:11px;}

.div_abo3 p{ background:url(../images/4_15.jpg) 0px 6px no-repeat; padding-left:10px; color:#696a69; margin-top:6px;}
.div_abo3 p span{ color:#c30003;}
.div_abo4{ margin-top:15px;} 

.table2 tr td{ padding-right:10px; padding-right:10px; text-align:center; height:32px; border-bottom:1px solid #cfcfcf; line-height:32px;}
.table2 .tr td{ background:#cbccce; height:39px; line-height:39px; border-bottom:1px solid #fff; color:#c30003; border-left:1px solid #cfcfcf; border-right:1px solid #fff;}
.table2 .tr td .select{ width:150px;}
.table2 .tr .td1{ border-right:1px solid #fff;}
.table2 .tr .td2{ border-left:1px solid #cfcfcf;}
.table2 tr{ color:#808080;}
.table2 tr:hover{ background:#c30003; color:#fff;}
.table2 tr a{ color:#808080;}
.table2 tr:hover a{ color:#fff}

.div_abo5{ border:19px solid #ddd; background:#fff;}
.table3 tr td{ padding-left:10px; padding-top:5px; padding-bottom:5px;}
.div_abo6{ text-align:right; margin-top:10px;}
.div_abo6 a{ margin-left:10px;}
.div_abo7{ text-align:right; margin-top:10px; margin-right:-8px;}
.div_abo7 a{ color:#b4b4b4;}
.div_abo7 a:hover{ color:#c30003}
.div_abo8 p{ background:url(../images/4_20.png) 0px 10px no-repeat; padding-left:32px; font-size:14px; margin-bottom:10px;}

.ss2_1b{ width:338px;}
.ss2_2b{ width:388px; background:url(../images/5_03.png) top left no-repeat; padding-left:105px;}
.ss2_2b .text{ height:30px; width:251px; border:0px; background:#f0f0f0; line-height:30px; font-family:微软雅黑; font-size:12px; color:#666666; padding-left:15px; padding-right:15px; overflow:hidden}
.ss2_2b .text1{ height:131px; width:251px; border:0px; background:#f0f0f0; line-height:24px; font-family:微软雅黑; font-size:12px; color:#666666; padding-left:15px; padding-right:15px; overflow:hidden}
/*.ss2_2b div{margin-bottom:3px; *margin-bottom:2px;}*/
.ss2_2b span{ color:#c30003; margin-left:5px;}
.ss2_2b .div1{ margin-top:10px; color:#8a8a8a;}
.ss2_2b .div1 a{ margin-right:15px;}

.banner img{ height:114px;}
.qs_tjnews{ height:242px; width:940px; *width:930px; margin-top:15px;}
.qs_tjnews .mCustomScrollBox{width:940px; *width:930px;}


/*.page1{clear:both;text-align:center;margin-left:auto;margin-right:auto;width:70%;}*/
.page1{clear:both; text-align:center;font-size:12px; height:24px; line-height:24px;}
.page1 span a{border:1px solid #0187C5;color:#0187C5;padding:2px 6px;line-height:15px;height:15px;text-decoration:none;background:#fff;}
.page1 span a:hover{border:1px solid #999;color:#999;}
.page1 span{margin:2px;}
.page1 span.current a{border:1px solid #0187C5;background:#0187C5;color:#fff;}
.page1 span a.disabled{border:1px solid #ccc;color:#ccc;cursor:default;}

/** 无边框居中分页 **/


.maplf{ width:548px}
.maprg{ width:306px;}
.maprg .div1{ height:42px; font-size:24px; color:#fff; padding-left:15px; line-height:42px; background:#c30003;}
.maprg .div2{ margin-top:10px;}
.maprg .div3{ margin-top:15px; height:185px;} 


.bbg{ background:url(../images/bbg.png) top left no-repeat; padding-top:18px; height:49px; margin-top:5px; overflow:hidden; width:981px;}
.bbg a{ display:block; width:72px; margin-left:15px; color:#585858; float:left;}
.bbg a:hover{ color:#c30003}


#xixi{ width:128px;}
.Obtn{background:url(../images/tj_01_yy.jpg) no-repeat; float:right; height:106px; width:31px; cursor:pointer;}

#box {width:97px; background:#fff; position:fixed; top:200px; right:-97px;}

.title{width:31px;height:110px;position: absolute;left:-31px;cursor: pointer; background:url(../images/tj_01_yy.jpg) no-repeat; display:block;}




.map_news_news{width:421px; background:#fff; height:210px; color:#333333; display:none;}
.map_news_news .div1{ padding-left:20px; padding-right:20px; padding-top:20px; height:22px; overflow:hidden;}
.map_news_news .div1 .lf{ color:#c30003; font-size:18px; font-weight:bold;}
.map_news_news .div2{ padding-top:15px; padding-left:20px; padding-right:20px;}


/*#dates{ width:810px; height: 77px; overflow: hidden;}
#timeline{ width:810px; margin:0 auto; overflow: hidden; background:url(../images/history_06.png) 0px 453px repeat-x; position: relative;} 
#dates li{ list-style: none; float: left; width: 100px; height: 50px; font-size: 12px; text-align: center; width:114px;}
#dates a{ display:block; color:#fff; height:77px;}
#dates .selected{ background:url(../images/history_04.png) no-repeat;}
#dates a .span1{ background:url(../images/history_05.png) center bottom no-repeat; display:block; height:40px; padding-top:8px;}
#dates a .span2{ margin-top:3px; display:none;}
#dates .selected .span2{ display:block;}
*/



#content{ position:absolute; width:100%; height:100%; top:0px; left:0px;}
ul#output{ position:absolute; top:0px; left:0px; width:100%; height:100%; display:block; overflow:hidden; z-index:0;}
ul#output li{ position:relative; width:100%; height:100%;}
ul#output li .div1 img{ width:100%; height:auto;}
ul#output li .div2{ position:absolute; z-index:11; bottom:25%; right:15%;}
ul#output li .div2{ background:url(../images/history_02.png) repeat; width:238px; height:261px;}
ul#output li .div2 .p1{ font-size:22px; font-weight:bold; line-height:24px; padding-left:28px; padding-top:24px; color:#c30003; background:url(../images/history_07.jpg) 28px bottom no-repeat; padding-bottom:15px;}
ul#output li .div2 .p1 span{ font-size:12px; font-weight:normal;}
ul#output li .div2 .p2{ color:#000000; font-size:18px; padding-left:28px; margin-top:12px;}
ul#output li .div2 .p3{ height:126px; line-height:18px; padding-left:28px; margin-top:7px; overflow-y:scroll; position:relative; padding-right:2000px; margin-right:-2000px;}
ul#output li .div2 .p3 .pp1{ min-height:100px;}

.div_hist{ position:fixed; bottom:28px; left:0%; background:url(../images/history_03.png) bottom left repeat-x; width:100%; z-index:10; height:77px;}
ul#tabs { width:810px; margin:0 auto; overflow: hidden; background:url(../images/history_06.png) 0px 42px repeat-x;}
ul#tabs li { float:left; width:114px; margin-left:40px;}
ul#tabs li a{ display: block; height:77px; color:#fff; text-align:center;}
ul#tabs li a.current{ background:url(../images/history_04.png) no-repeat;}
ul#tabs li a:hover{ background:url(../images/history_04.png) no-repeat;}
ul#tabs li a span{ display:block;}
ul#tabs li a .span1{ background:url(../images/history_05.png) center bottom no-repeat; display:block; height:40px; padding-top:8px;}
ul#tabs li a .span2{ margin-top:3px; display:none;}
ul#tabs li a.current .span2{ display:block;}
ul#tabs li a:hover .span2{ display:block;}

#ss2_2 .lf{ left:0px; line-height:32px; margin-right:10px;}
/* main end */  


