@charset "utf-8";
/*----------------------头部开始-------------------------------*/


/*logo*/
#logo a {font-size: 36px;
font-family: 'Roboto', sans-serif;
color: black;
font-style: italic;
font-weight:bold;
color:#221e1f;
text-decoration:none;
line-height:36px;}

#Login a{ 
float: right;
margin-right: 48px;
margin-top: 23px;
border: 2px solid #fff;
height: 43px;
line-height:43px; text-align:center;
width:108px;
text-decoration:none;
color:#fff;
font-size: 15pt;
text-transform: uppercase;
letter-spacing: -1px;
transition: background-color 0.2s, color 0.2s;}

/*bannerBox*/
.bannerBox{margin-top: 84px;}
/*bottomLine*/
.bottomLine{ 
width:100%;
height: 60px;
box-shadow: 0 4px 10px #adadad;
position: fixed;
top: 0px;
z-index: 100;
background:#1a99aa;
background-repeat:repeat-x;
display: none;}
#logo1 a {font-size: 28px;
font-family: 'Roboto', sans-serif;
color: black;
font-style: italic;
font-weight:bold;
color:#221e1f;
text-decoration:none;
line-height:28px;
}
#Login1 a{ 
float: right;
margin-right: 48px;
margin-top: 18px;
border: 2px solid #fff;
height: 32px;
line-height:32px; text-align:center;
width:108px;
text-decoration:none;
color:#fff;
font-size: 15pt;
text-transform: uppercase;
letter-spacing: -1px;
transition: background-color 0.2s, color 0.2s;}
/*-------------------------------------头部结束--------------------------------*/



/*------------------------------中间开始----------------------------------------*/
/*邮箱登录*/
.email{ width:1184px; 
margin:0 auto; 
height:468px; 
background:url(../images/emailBg.png);}
/*左侧---------------*/
.signinform {
float: left;
text-align: left;
margin-left: 158px;
margin-top:38px;
}
.signinform h3{ margin-bottom:21px;}
.signinform input[type="email"],
.signinform input[type="password"]{
height: 34px;
width: 196px;
display:block;
margin-bottom:12px;
}
.signinform input{ display:block;}
.form-control1 {
display: block;
width: 100%;
height: 34px;
padding-left:6px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;

}
.signinform input[type="checkbox"]{ 
float:left; 
width:11px; 
height:11px;
margin-bottom:0; }
.remenber_me p{ 
float:left;
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
margin-left:13px;
margin-top:-4px;
color:#58595b;}
.remenber_me { overflow:hidden;}
.signinform input[type="button"]{ width:200px; 
height:34px;
background:#df6c4f;
border:none;
border:#f7f6f4 solid 2px;
color:#fff;
font-family: 'Roboto Condensed', sans-serif;
font-size:16px;
margin-top:10px;

}
.forget{
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
text-decoration:none;
margin-top:19px;
display:block;
color:#58595b;}
.forget:hover{ text-decoration:underline;}
.or{ margin-top:39px;
width:204px;
text-align:center;
letter-spacing:-1px;
font-size:18px;
color:#000;
line-height:18px;
}
.signwith{
font-size: 20px;
font-weight: 400;
letter-spacing: -1px;
color:#000;
margin-top:24px;}
/*三个图标-----------*/
.threeBox{
	margin-top:13px;}
.f{ width:40px; 
height:41px; 
background:url(../images/f_03.png);
float:left;
margin-left:10px;}

.in{ width:39px; 
height:41px; 
background:url(../images/in_03.png);
float:left;
margin-left:35px;}
.Q{ width:42px; 
height:42px; 
background:url(../images/qq_03.png);
float:left;
margin-left:36px;}


/*右侧-------------------------*/
.signinform1 {
float: left;
text-align: left;
margin-left: 456px;
margin-top:38px;
}
.signinform1 h3{ margin-bottom:21px;}
.signinform1 input[type="email"],
.signinform1 input[type="password"],
.signinform1 input[type="text"]{
height: 34px;
width: 196px;
display:block;
margin-bottom:10px;
}
.signinform1 input{ display:block;}
.form-control1 {
display: block;
width: 100%;
height: 34px;
padding-left:6px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;

}
.signinform1 input[type="checkbox"]{ 
float:left; 
width:11px; 
height:11px;
margin-bottom:0;
margin-top:9px;}
.signinform1 .remenber_me p{ 
float:left;
font-family: 'Roboto Condensed', sans-serif;
font-size:14px;
margin-left:13px;
margin-top:-4px;
color:#58595b;
margin-top:6px;}
.signinform1 input[type="button"]{ width:200px; 
height:34px;
background:#df6c4f;
border:none;
border:#f7f6f4 solid 2px;
color:#fff;
font-family: 'Roboto Condensed', sans-serif;
font-size:16px;
margin-top:12px;

}
/*滑动--------*/
#bar_bg {height:36px;
width:204px;
background:url(../images/lefttoright_03.png);
position: relative;
margin-top:33px;}
#bar_click {height: 36px;
width: 20px;
background:url(../images/swipe_jiantou_03.png);
position: absolute;
top:0;left: 0;
cursor: pointer;}
#bar_percent {height: 36px;
background:url(../images/swipe_03.png);
width: 0;}
#bar_input {padding-top: 20px;
font-size: 18px;}
/*----------------------------------六角形区域开始-------------------------------------------*/
.liujiao{ width:1184px; 
height:480px;
background:#e9e6e4;
margin:0 auto;}
/*左侧---*/
.liu_left{ margin-left:244px; 
margin-top:82px;
height:306px; 
position:relative;}
.img_big{ position:absolute; 
top:2px; 
left:39px; 
display:block; 
width:156px;
height:138px; 
background:url(../images/man_07.png);}
.img_1{ width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:110px; 
left:0; 
background:url(../images/2.empty-slot_03.png);}
.motto{ width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:176px; 
left:0; 
background:url(../images/3.motto_03.png);}
.male{ width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:143px; 
left:55px; 
background:url(../images/male.png)}
.follower{ width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:176px; 
left:110px; 
background:url(../images/5.follower_03.png);}
.following{ width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:143px; 
left:165px; 
background:url(../images/6.following_03.png);}
.badge{width:85px; 
height:66px; 
display:block; 
position:absolute; 
top:176px; 
left:220px; 
background:url(../images/7.badge_03.png);}

/*右侧--------*/
.img_2{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:143px; 
left:291px; 
background:url(../images/8.mask-badge_03.png);}
.img_3{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:207px; 
left:291px; 
background:url(../images/9.forkknife-badge_03.png);}
.img_4{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:111px; 
left:346px; 
background:url(../images/10.train-badge_03.png);}
.img_5{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:176px; 
left:346px; 
background:url(../images/11.movie-badge_03.png);}
.img_6{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:207px; 
left:402px; 
background:url(../images/12.guard_03.png);}
.img_7{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:176px; 
left:457px; 
background:url(../images/13.shopping-badge_03.png);}
.img_8{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:143px; 
left:510px; 
background:url(../images/14.beer-badge_06.png);}
.img_9{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:207px; 
left:510px; 
background:url(../images/15.coffee-badge_03.png);}
.img_10{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:176px; 
left:564px; 
background:url(../images/16.emergency-knit-badge_06.png);}
.img_11{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:239px; 
left:564px; 
background:url(../images/img_12.png);}
.img_12{width:76px; 
height:66px; 
display:block; 
position:absolute; 
top:143px; 
left:619px; 
background:url(../images/more.png);}

.edit a{ display:block; 
width:176px; 
height:32px; 
border:#f8f7f5 solid 2px;
 background:#df6c4f;
  text-decoration:none; 
 text-align:center; 
 color:#fff;
 line-height:32px;
 font-size:16px;
 margin:0 auto;
 clear:both;
 margin-top:27px;}
 
/* services开始------------------------------------------*/
.services{ width:1184px; 
margin:0 auto; 
height:800px; 
background:#eeecea;}
.s_top{ margin-top:60px;}
.s_top h1{ color:#000; 
font-size:29px; 
width:100%; 
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
font-weight:normal;
word-spacing: 2px;}
.s_top h3{ width:100%; text-align:center;
font-size:18px;
line-height:18px;
margin-top:21px;}


.s_box{ width:702px; 
margin:0 auto;}
.s_box ul li{ width:222px; 
height:282px; 
float:left; 
margin-right:18px; 
background:#000; 
margin-bottom:24px;}
.s_box ul{ margin-top:40px;}
.s_box .li_3,.s_box .li_6{ margin-right:0;}
.s_box .li_1{ background:#ecd06f;}
.s_box .li_1 img{ display:block; width:132px; height:132px; margin:0 auto; margin-top:22px;}
.s_box .li_1 h1{ width:100%; font-size:18px; line-height:18px; margin-top:18px; text-align:center; color:#000;text-transform: uppercase;}
.s_box .li_1 h2{ width:100%; font-size:15px; line-height:15px; margin-top:21px; text-align:center; color:#000;}

.s_box .li_2{ background:#1a99aa;}
.s_box .li_2 img{ display:block; width:132px; height:132px; margin:0 auto; margin-top:22px;}
.s_box .li_2 h1{ width:100%; font-size:18px; line-height:18px; margin-top:18px; text-align:center; color:#000;text-transform: uppercase;}
.s_box .li_2 h2{ width:100%; font-size:15px; line-height:15px; margin-top:21px; text-align:center; color:#000;}

.s_box .li_3{ background:#ecd06f;}
.s_box .li_3 img{ display:block; width:132px; height:132px; margin:0 auto; margin-top:22px;}
.s_box .li_3 h1{ width:100%; font-size:18px; line-height:18px; margin-top:18px; text-align:center; color:#000;text-transform: uppercase;}
.s_box .li_3 h2{ width:100%; font-size:15px; line-height:15px; margin-top:21px; text-align:center; color:#000;}

.s_box .li_4{ background:#1a99aa;}
.s_box .li_4 img{ display:block; width:132px; height:132px; margin:0 auto; margin-top:22px;}
.s_box .li_4 h1{ width:100%; font-size:18px; line-height:18px; margin-top:18px; text-align:center; color:#000;text-transform: uppercase;}
.s_box .li_4 h2{ width:100%; font-size:15px; line-height:15px; margin-top:21px; text-align:center; color:#000;}


.s_box .li_5{ background:#ecd06f;}
.s_box .li_5 img{ display:block; width:132px; height:132px; margin:0 auto; margin-top:22px;}
.s_box .li_5 h1{ width:100%; font-size:18px; line-height:18px; margin-top:18px; text-align:center; color:#000;text-transform: uppercase;}
.s_box .li_5 h2{ width:100%; font-size:15px; line-height:15px; margin-top:21px; text-align:center; color:#000;}

.s_box .li_6{ background:#1a99aa;}
.s_box .li_6 img{ display:block; width:132px; height:132px; margin:0 auto; margin-top:22px;}
.s_box .li_6 h1{ width:100%; font-size:18px; line-height:18px; margin-top:50px; text-align:center; color:#000;text-transform: uppercase;}

.s_box .li_1:hover,.s_box .li_3:hover,.s_box .li_5:hover{background:#1a99aa;}
.s_box .li_2:hover,.s_box .li_4:hover,.s_box .li_6:hover{background:#ecd06f;}

/*access--------------------------*/
.access{ width:1184px; margin:0 auto; height:640px;}
.a_top{ margin-top:123px;}
.a_top h1{ color:#000; 
font-size:29px; 
width:100%; 
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
font-weight:normal;
word-spacing: 2px;}
.a_top h3{ width:100%; text-align:center;
font-size:18px;
line-height:18px;
margin-top:21px;}

.access ul{ width:706px; height:282px; margin:0 auto; margin-top:36px;}
.access ul li{ width:224px; height:282px; background:#000; margin-right:17px; float:left;}
.access ul .li_33{ margin-right:0; background:#1a99aa;}
.access ul .li_11{ background:#ecd06f;}
.access ul .li_11 h1,.access ul .li_22 h1,.access ul .li_33 h1{ width:100%; text-align:center; font-size:15px; margin-top:59px;}
.access ul .li_22{ background:#fff;}
.access ul li .li_img{ width:224px; height:114px; overflow:hidden; cursor:pointer;}


/*底部开始---------------------------*/
.f_box{ width:1184px; margin:0 auto; height:312px;}
.f_left{ float:left;}
#logo2 a {font-size: 28px;
font-family: 'Roboto', sans-serif;
color: black;
font-style: italic;
font-weight:bold;
color:#545456;
text-decoration:none;
line-height:28px;
}
#logo2{ margin-top:48px; margin-left:30px;}
.f_left ul{ margin-top:14px;}
.f_left ul li{float:left; width:33px; height:33px; margin-right:6px; margin-bottom:6px;}
.f_left ul li a{display:block; width:33px; height:33px;}
.f_left ul li .youtu{ background:url(../images/youtu.png);}
.f_left ul li .g{ background:url(../images/g+.png);}
.f_left ul li .t{ background:url(../images/t.png);}
.f_left ul li .niao{ background:url(../images/niao.png);}
.f_left ul li .xinhao{ background:url(../images/xinghao.png);}
.f_left ul li .p{ background:url(../images/p.png);}
.f_left ul li .t1{ background:url(../images/t.png);}
.f_left ul li .in1{ background:url(../images/in.png);}
.f_left ul li .tp{ background:url(../images/tp.png);}
.f_left ul li .fr{ background:url(../images/fr.png);}


.f_nav{ float:left; margin-left:160px;}
.f_nav ul li{ float:left; width:192px;}
.f_nav ul li h1{ font-weight:500;
font-size: 18pt;
margin-bottom: 15px;
letter-spacing: -1px;
margin-top:49px;
color:#000;}
.f_nav ul li a{ display:block;
text-decoration:none;
color:#000;
font-weight: 200;
font-size: 15pt;
letter-spacing: -1px;
line-height:16px;
margin-bottom:9px;}
.f_nav ul li a:hover{ color:#555;}
.erwei{ float:right; width:128px; }
.erwei h1{font-weight:500;
font-size: 18pt;
margin-bottom: 14px;
letter-spacing: -1px;
margin-top:49px;
color:#000;}



.f_bottom{ width:100%; height:48px; border-top:#fff solid 1px;}
.bottom_box{ width:1184px;  margin:0 auto;}
.bottom_box h1{ float:left;color:#58595b;
font-weight: 200;
font-size: 15pt;
letter-spacing: -1px;
line-height:48px;}
.bottom_box h2{float:left;color:#58595b;
font-weight: 200;
font-size: 15pt;
letter-spacing: -1px;
line-height:48px;
margin-left:382px;}
.bottom_box h3{float:right;color:#58595b;
font-weight: 200;
font-size: 15pt;
letter-spacing: -1px;
line-height:48px;
}
.bottom_box h3 a{ text-decoration:none;
color:#58595b;}